/*===== GOGGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
/*===== VARIABLES SCSS =====*/
/*===== VARIABLES CSS =====*/
/*=== Colores ===*/
:root {
  --first-color: #0396a6;
  --dark-color: #000;
  --white-color: #f2f2f2;
}

/*=== Fuente y tipografia ===*/
:root {
  --body-font: "Open Sans", sans-serif;
  --biggest-font-size: 3.5rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
}
/*=== Right Col ===*/
.right__col nav {
  display: flex;
  align-items: center;
  padding: 0.8rem 0 0.8rem 0;
  justify-content: space-between;
  flex-direction: column-reverse;
}
.right__col nav ul {
  display: flex;
  gap: 50px;
  flex-direction: row;
  padding: 1.5rem 0 0 0;
  align-items: center;
}
.right__col nav ul a {
  color: var(--text-color);
  text-decoration: underline;
  align-items: center;
  font-size: 1rem;
}
.right__col nav ul li {
  text-transform: uppercase;
  font-weight: 500;
  color: rgba(128, 128, 128, 0.783);
  display: flex;
  align-items: center;
}
.right__col nav ul i {
  font-size: 1.5rem;
  letter-spacing: 0.5rem;
  color: var(--text-color);
}
.right__col .button {
  background: var(--main-color);
  color: #fff;
  border: none;
  padding: 8px 24px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s ease-in-out;
}
.right__col .button:hover {
  opacity: 0.8;
  transform: scale(1.05);
  transition: 0.3s ease-in-out;
}

@media screen and (min-width: 768px) {
  :root {
    --biggest-font-size: 7rem;
    --h2-font-size: 1.5rem;
    --normal-font-size: 1rem;
  }
}

/*=== z index ===*/
:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/*===== BASE =====*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: var(--body-font);
  background-color: #000;
  min-height: 100vh;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*===== LAYOUT =====*/
.bd-grid {
  max-width: 1200px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.l-header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: var(--z-modal);
}

/*===== NAVBAR =====*/
/*.nav {
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    left: 0%;
    top: -100%;
    background-color: rgba(64, 98, 120, 0.9);
    width: 100%;
    height: 40%;
    padding: 2rem;
    text-align: center;
    z-index: var(--z-fixed);
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
}

.nav__logo {
  color: var(--white-color);
  font-size: 1.2rem;
  margin-left: 1rem;
  font-weight: bold;
}

.nav__item {
  margin-bottom: 3.5rem;
}

.nav__link {
  color: var(--white-color);
}

.nav__toggle {
  font-size: 1.5rem;
  color: var(--white-color);
  cursor: pointer;
  margin-right: 1rem;
}
.nav__menu {
  font-size: 1rem;
}

/*=== Show menu ===*/
.show {
  top: 3rem;
}

/*===== HOME =====*/
.home {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.home__parallax {
  width: 100%;
  height: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.home__parallax-img1 {
  background-image: url(../img/imgm1.png);
  z-index: var(--z-normal);
}

.home__parallax-img2 {
  background-image: url(../img/imgm2.png);
  z-index: var(--z-tooltip);
}

.home__parallax-img3 {
  background-image: url(../img/imgm3.png);
  z-index: var(--z-fixed);
}

.home__parallax-img4 {
  background-image: url(../img/imgm4.png);
  z-index: var(--z-fixed);
}

.home__title,
.home__subtitle {
  position: absolute;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: var(--white-color);
  text-align: center;
}

.home__title {
  top: 32%;
  font-size: var(--biggest-font-size);
  z-index: var(--z-normal);
}

.home__subtitle {
  top: 44%;
  font-size: var(--h2-font-size);
  font-weight: bold;
  z-index: var(--z-tooltip);
}

.home__scroll {
  position: absolute;
  bottom: 5rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 1.5rem;
  z-index: var(--z-modal);
}

.home__scroll i {
  color: var(--white-color);
  text-align: center;
}
.home__scroll span {
  font-size: 0.85rem;
  display: flex;
  padding: 1rem;
  font-family: var(--body-font);
}

/*===== SECTION =====*/
.l-section {
  background-color: var(--dark-color);
}

.section {
  min-height: 100vh;
  max-width: 950px;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 5rem;
  padding: 2rem 0;
  color: var(--white-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flow-root;
  -webkit-box-orient: vertial;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.section__data {
  margin-bottom: 2.5rem;
}

.section__title {
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin: 0.5rem;
  text-align: center;
}

.section__text {
  text-align: center;
  padding: 1rem 0.5rem;
}

.section__img {
  width: 100%;
  height: 14rem;
  object-fit: cover;
  border-radius: 1.2rem;
  padding: 10px 10px;
}

/*===== ABOUT =====*/

.about {
  justify-content: space-between;
  position: relative;
  margin: 50px 0;
  display: flex;
  flex-direction: row;
  font-size: 0.9rem;
}
.about li {
  display: flex;
  flex-direction: column;
  color: #717171;
  font-size: 0.9rem;
}
.about span {
  color: white;
  font-weight: 800;
}

.about::after {
  position: absolute;
  content: "";
  bottom: -30px;
  display: block;
  background: #717171;
  height: 5px;
  width: 100%;
}

/*===== LEFT Col =====*/

.left__col {
  padding: 25px 14px;
  text-align: center;
  max-width: 2000px;
  position: relative;
  margin: 0 auto;
}
.img__container {
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translatex(-50%);
}
.img__container img {
  width: 125px;
  height: 125px;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  border: 3px solid #ffffff;
}
.img__container span {
  position: absolute;
  background: #00d5fb;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  bottom: 6px;
  right: 14px;
  border: 1px solid #ffffff;
}
.left__col h1 {
  margin-top: 60px;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 5px;
  color: var(--text-color);
}
.left__col p {
  font-size: 0.9rem;
  color: #ffffff;
  margin: 0;
}

/*===== ul icon =====*/

.ul-icon {
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  position: relative;
  width: 100%;
  padding: 0 0 2rem 0;
}
.ul-icon a {
  margin-top: 25px;
  color: var(--text-color);
  align-items: center;
}
.ul-icon li {
  display: flex;
  gap: 20px;
  align-items: center;
}
.ul-icon i {
  font-size: 1.6rem;
  align-items: center;
}
/*===== MEDIA QUERIES =====*/

@media screen and (min-width: 945px) {
  .nav {
    height: 4rem;
  }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav__item {
    margin-right: 3rem;
    margin-bottom: 0;
  }
  .nav__toggle {
    display: none;
  }
  .home__title {
    top: 27%;
  }
  .home__subtitle {
    top: 50%;
  }
  .section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
  }
  .section__text {
    width: 100%;
  }
  .section__img {
    width: 470px;
  }
}

/*@media screen and (min-width: 1200px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
}*/
